doctype html
html
  head
    title Deltagram
    link(rel="icon" href="/images/deltagram-icon.ico" type="image/x-icon")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    header
      a(href="/")
        img.logo(src="/images/deltagram-light.png", alt="Deltagram logo")
    button#darkModeToggle Dark Mode

    block content

    if user
      a#logoutBtn(href="/auth/logout") Logout

    script(src="/javascripts/upload.js")
    script(src="/javascripts/theme.js")
