extends layout

block content
  .auth-container
    h2 Login
    form(action='/auth/login', method='POST')
      input(type='text', name='username', placeholder='Username', required)
      input(type='password', name='password', placeholder='Password', required)
      button(type='submit') Log In
    p
      | Don't have an account?
      a(href='/auth/register') Sign up
