:root {
    --bg: #F0F0F0;
    --text: #262626;
}

html.dark {
    --bg: #18191a;
    --text: #E1E1E1;
}

body.dark {
    --bg: #18191a;
    --text: #E1E1E1;
}

:root {
    --bg: #F0F0F0;
    --text: #262626;
}

html, body {
    margin: 0; padding: 0;
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color .2s, color .2s;
}
